--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
crewai==0.28.8
langchain-groq
langchain-community
elasticsearch
fpdf2
pgvector
psycopg2-binary
python-dotenv
sentence-transformers
torch
urllib3
